:root {
    --color-primary: #b00091;
    --color-on-primary: #ffffff;
    --color-primary-container: #ffd7ef;
    --color-on-primary-container: #3b0030;

    --color-secondary: #691eff;
    --color-on-secondary: #ffffff;
    --color-secondary-container: #e8ddff;
    --color-on-secondary-container: #1f0060;

    --color-tertiary: #00696e;
    --color-on-tertiary: #ffffff;
    --color-tertiary-container: #4ef8ff;
    --color-on-tertiary-container: #002022;

    --color-error: #B3261E;
    --color-on-error: #FFFFFF;
    --color-error-container: #F9DEDC;
    --color-on-error-container: #410E0B;

    --color-success: #02b63e;
    --color-on-success: #FFFFFF;
    --color-success-container: #b7f4c0;
    --color-on-success-container: #0b411a;

    --color-background: #f7ebf1;
    --color-on-background: #201a1b;

    --color-surface: #fcfcfc;
    --color-on-surface: #201a1b;
    --color-surface-variant: #f5f5f5;
    --color-on-surface-variant: #49454F;

    --color-outline: #79747E;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #ffade3;
        --color-on-primary: #5f004f;
        --color-primary-container: #860070;
        --color-on-primary-container: #ffd7ef;

        --color-secondary: #cfbdff;
        --color-on-secondary: #360096;
        --color-secondary-container: #4e00d2;
        --color-on-secondary-container: #e8ddff;

        --color-tertiary: #02dce5;
        --color-on-tertiary: #00373a;
        --color-tertiary-container: #004f53;
        --color-on-tertiary-container: #4ef8ff;

        --color-error: #F2B8B5;
        --color-on-error: #601410;
        --color-error-container: #8C1D18;
        --color-on-error-container: #F9DEDC;

        --color-success: #b7f4c0;
        --color-on-success: #0b411a;
        --color-success-container: #109e3f;
        --color-on-success-container: #bbf3c0;

        --color-background: #483446;
        --color-on-background: #ece0e1;

        --color-surface: #201a1b;
        --color-on-surface: #ece0e1;
        --color-surface-variant: #2e273a;
        --color-on-surface-variant: #CAC4D0;

        --color-outline: #938F99;
    }
}