.section-primary {
    background-color: var(--color-primary);
    color: var(--color-on-primary)
}

.section-secondary {
    background-color: var(--color-secondary);
    color: var(--color-on-secondary)
}

.section-tertiary {
    background-color: var(--color-tertiary);
    color: var(--color-on-tertiary)
}

.section-error {
    background-color: var(--color-error);
    color: var(--color-on-error)
}

.section-background {
    background-color: var(--color-background);
    color: var(--color-on-background);
}

.section-surface {
    background-color: var(--color-surface);
    color: var(--color-on-surface);
}

.section-surface-variant {
    background-color: var(--color-surface-variant);
    color: var(--color-on-surface-variant);
}

/* --- */

.container-primary {
    background: radial-gradient(circle at 0% 100%, var(--color-secondary-container) 0%, var(--color-primary-container) 75%);
    color: var(--color-on-primary-container);
}

.container-secondary {
    background: radial-gradient(circle at 0% 100%, var(--color-tertiary-container) 0%, var(--color-secondary-container) 75%);
    color: var(--color-on-secondary-container)
}

.container-tertiary {
    background: radial-gradient(circle at 0% 100%, var(--color-primary-container) 0%, var(--color-tertiary-container) 75%);
    color: var(--color-on-tertiary-container)
}

.container-error {
    background: radial-gradient(circle at 0% 100%, var(--color-primary-container) 0%, var(--color-error-container) 75%);
    color: var(--color-on-error-container)
}

.container-success {
    background: radial-gradient(circle at 0% 100%, var(--color-tertiary-container) 0%, var(--color-success-container) 75%);
    color: var(--color-on-success-container)
}

.container-surface-variant {
    background: radial-gradient(circle at 0% 100%, var(--color-background) 0%, var(--color-surface-variant) 75%);
    color: var(--color-on-surface-variant);
}

/* --- */

.on-container-primary {
    color: var(--color-on-primary-container);
}

/* --- */

.animated {
    animation: animateBg 10s infinite ease-in-out alternate;
}

@keyframes animateBg {
    0% {
        background-size: 100% 100%;
    }
    50% {
        background-position: 50% 50%;
    }
    100% {
        background-size: 300% 300%;
    }
}


/* --- */

.container-stroke {
    border-color: var(--color-outline);
}

/* --- */

.clickable {
    transition: all cubic-bezier(0.4, 0.2, 0.4, 1) .5s;
    cursor: pointer;
}

.clickable.border:hover {
    border-radius: 16px;
}

.clickable.icon {
    width: 48px;
    height: 48px;
    padding: 12px;
}

.clickable.icon.border {
    border-radius: 16px;
}